
    * {
     margin: 0;
     padding: 0;
   }

   body {
     background-color: #dfdfdf;
     color: #333333;
     font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
   }

   a {
     color: #019cdb;
     text-decoration: none;
   }

   a:hover {
     color: #48b2e8;
   }

   .header {
     border-top: solid 8px #019cdb;
   }

   .nav {
     margin-top: 12px;
     margin-left: 10%;
   }

   .nav-item {
     list-style: none;
     display: inline;
     margin-right: 12px;
   }

   .title {
     color: #019cdb;
     text-transform: uppercase;
     letter-spacing: 3px;
   }

   .main {
     font-size: 78px;
   }

   .sub {
     font-size: 57px;
   }

   .footer-sub {
     font-size: 30px;
   }

   .button {
     border: 2px solid #019cdb;
     color: #019cdb;
     display: inline-block; /* To wrap the border just around the content */
     font-size: 20px;
     margin-top: 12px;
     padding: 12px 30px;
   }

   .button:hover {
     background-color: #019cdb;
     color: #dfdfdf;
     cursor: pointer;
   }